
Week1/ex1.sql
Week2/.ipynb_checkpoints/Week2-psycopg2-checkpoint.ipynb
Week2/.ipynb_checkpoints/Week2-psycopg2-Skeleton-checkpoint.ipynb
Week2/__pycache__/user_input.cpython-38.pyc
Week2/Week2-psycopg2-Skeleton.ipynb
Week2/Week2-psycopg2.ipynb
Week2/Week2-psycopg2.ipynb
Week2/Week2-psycopg2-Skeleton.ipynb
